body{
  font-family: sans-serif; background-color:lightgreen; border: 10px double green
  
}

p { background-color:green; }
h1 { background-color:green; text-align:center; }
h2 {background-color:green; text-align:center; }
img { padding:25px; border: 10px double black }
a { border: 10px double black; color:black; }
nav { text-align:center; }
main { text-align:center; border: 10px double blue; padding:20px; }
 footer{ text-align: center; }
